.notificationsContainer {
    padding: 20px;
}

.notificationCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background: #222;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
}

.notificationCard a {
    text-decoration: none;
}

.notificationUser {
    display: flex;
    gap: 10px;
}

.notificationCard img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}